<header>
  <nav class="navbar">
    <a href="" class="navbar-logo">
      <img src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg" alt="Logo" />
    </a>
    <ul class="navbar-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/movies">Movies</a></li>
      <li><a routerLink="/tvshows">TV Shows</a></li>
      <li><a routerLink="/genres">Genres</a></li>
    </ul>
    <button class="glow-on-hover" type="button" routerLink="/login">Login</button>
  </nav>
</header>
