<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        class="slide-bg-image"
        src="https://image.tmdb.org/t/p/original/nLBRD7UPR6GjmWQp6ASAfCTaWKX.jpg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="name">Guy Ritchie's The Covenant</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span>Star</span>
            <span class="rating-value">7.5</span>
            <span>/10</span>
          </span>
          <span>463 Reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc mt-5">
        <p>
          While working underground to fix a water main, Brooklyn plumbers—and
          brothers—Mario and Luigi are transported down a mysterious pipe and
          wander into a magical new world. But when the brothers are separated,
          Mario embarks on an epic quest to find Luigi.
        </p>
      </div>
    </div>
  </div>
</div>
