@import '../../../styles/colors';

.movie-item {
  display: block;
  min-height: 325px;
  border-radius: 5px;
  background-color: $bgColorLight;
  position: relative;
  border-radius: 1px solid $bgColorLight;
  margin: 20px 0;
  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: -2px -2px 20px 2px red, 2px 2px 20px 2px #00f;
    color: #fff;
  }

  &-image {
    img {
      width: 100%;
      border-radius: 5px;
      height: 275px;
      object-fit: cover;
    }
  }
  &-rating {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    background-color: $bgColorLight;
    border-radius: 5px;
    padding: 5px 10px;
    .app-icon {
      color: #d4af37;
      margin-right: 2px;
    }
  }
  &-title {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}
