<div class="wrapper-form">
  <form onsubmit="refresh(); return false">
    <h3>Sign In</h3>

    <div class="inputbox">
      <label>Email or phone number</label>
      <input type="text" class="email" />
      <p class="msg"></p>
    </div>

    <div class="inputbox">
      <label>Password</label>
      <input type="password" class="password" />
      <p class="msg"></p>
    </div>

    <input type="submit" value="sign in" class="submit" />

    <div class="helpBox">
      <div class="checkBox">
        <input type="checkbox" id="rem" />
        <label for="rem">Remember me</label>
      </div>

      <a href="##">Need help?</a>
    </div>

    <p class="sign">
      New to Netflix?
      <a href="##">Sign up now</a>.
    </p>

    <p class="msg">
      This page is protected by Google reCAPTCHA to ensure you're not a bot.
      <a href="##">Learn more.</a>
    </p>
  </form>
</div>
