<div class="container">
  <div class="row d-flex">
    <div class="col-xl-2 col-md-4 col-6">
      <app-movie-item></app-movie-item>
    </div>
    <div class="col-xl-2 col-md-4 col-6">
      <app-movie-item></app-movie-item>
    </div>
    <div class="col-xl-2 col-md-4 col-6">
      <app-movie-item></app-movie-item>
    </div>
    <div class="col-xl-2 col-md-4 col-6">
      <app-movie-item></app-movie-item>
    </div>
    <div class="col-xl-2 col-md-4 col-6">
      <app-movie-item></app-movie-item>
    </div>
    <div class="col-xl-2 col-md-4 col-6">
      <app-movie-item></app-movie-item>
    </div>
  </div>
</div>
