/* You can add global styles to this file, and also import other style files */
/** Reset CSS*/
@import '/src/styles/init-css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&family=Rubik:wght@400;500;700&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined';
@import '/src/styles/colors';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/arya-orange/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  color: $white;
  background-color: $bgColor;
}
a {
  text-decoration: none;
  color: $white;
}
.app-icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
