.btn-custom {
  position: fixed;
  right: 20px;
  bottom: 40px;
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  z-index: 1000;
}

@media only screen and (max-width: 400px) {
  .btn-custom {
    display: none;
  }
}
